*.o
*.so
*.dylib
.deps
*.a
.settings/language.settings.xml
GNUmakefile
config.log
config.status
contrib/spi/autoinc.sql
contrib/spi/insert_username.sql
contrib/spi/moddatetime.sql
contrib/spi/refint.sql
contrib/spi/timetravel.sql
contrib/xml2/pgxml.sql
doc/man1/
doc/man7/
doc/manl/
src/Makefile.global
src/Makefile.port
src/backend/catalog/postgres.bki
src/backend/catalog/postgres.description
src/backend/catalog/postgres.shdescription
src/backend/port/dynloader.c
src/backend/port/pg_sema.c
src/backend/port/pg_shmem.c
src/backend/port/tas.s
src/backend/postgres
src/backend/snowball/snowball_create.sql
src/backend/utils/fmgroids.h
src/backend/utils/fmgrtab.c
src/backend/utils/mb/conversion_procs/conversion_create.sql
src/bin/initdb/encnames.c
src/bin/initdb/initdb
src/bin/initdb/pqsignal.c
src/bin/ipcclean/ipcclean
src/bin/pg_config/pg_config
src/bin/pg_controldata/pg_controldata
src/bin/pg_controldata/pg_crc.c
src/bin/pg_ctl/pg_ctl
src/bin/pg_dump/pg_dump
src/bin/pg_dump/pg_dumpall
src/bin/pg_dump/pg_restore
src/bin/pg_resetxlog/pg_crc.c
src/bin/pg_resetxlog/pg_resetxlog
src/bin/psql/dumputils.c
src/bin/psql/psql
src/bin/scripts/clusterdb
src/bin/scripts/createdb
src/bin/scripts/createlang
src/bin/scripts/createuser
src/bin/scripts/dropdb
src/bin/scripts/droplang
src/bin/scripts/dropuser
src/bin/scripts/dumputils.c
src/bin/scripts/mbprint.c
src/bin/scripts/print.c
src/bin/scripts/reindexdb
src/bin/scripts/vacuumdb
src/include/dynloader.h
src/include/parser/parse.h
src/include/pg_config.h
src/include/pg_config_os.h
src/include/stamp-h
src/include/utils/fmgroids.h
src/interfaces/ecpg/compatlib/exports.list
src/interfaces/ecpg/ecpglib/exports.list
src/interfaces/ecpg/ecpglib/path.c
src/interfaces/ecpg/ecpglib/pgstrcasecmp.c
src/interfaces/ecpg/ecpglib/thread.c
src/interfaces/ecpg/include/ecpg_config.h
src/interfaces/ecpg/pgtypeslib/exports.list
src/interfaces/ecpg/pgtypeslib/pgstrcasecmp.c
src/interfaces/ecpg/preproc/ecpg
src/interfaces/libpq/encnames.c
src/interfaces/libpq/exports.list
src/interfaces/libpq/ip.c
src/interfaces/libpq/libpq.rc
src/interfaces/libpq/md5.c
src/interfaces/libpq/noblock.c
src/interfaces/libpq/pgstrcasecmp.c
src/interfaces/libpq/thread.c
src/interfaces/libpq/wchar.c
src/port/pg_config_paths.h
src/test/regress/pg_regress
src/timezone/zic
*.out
*.sql
src/test/regress/regression.diffs

src/test/regress/log/
src/test/regress/results/
src/test/regress/tmp_check/
perm-0.1-src.tar.gz
